<nav class="menu py-3 py-sm-0">
    <div class="container d-flex">
        <div class="logo p-sm-4">
            <h1><a href="index.html" class="pb-6">glasses</a></h1>
        </div>
        <ul class="menu-item d-flex">
            <li><a href="optical.html" class="py-3 px-sm-8">系列鏡框</a></li>
            <li><a href="store1.html" class="py-3 px-sm-8">門市據點</a></li>
            <li><a href="blog.html" class="py-3 px-sm-8">部落格</a></li>
            <li><a href="FAQ.html" class="py-3 px-sm-8">常見問題</a></li>
        </ul>
    </div>
</nav>