<nav class="menu">
    <div class="container d-flex">
        <div class="logo">
            <h1><a href="index.html">glasses</a></h1>
        </div>
        <ul class="menu-item d-flex">
            <li><a href="optical.html">系列鏡框</a></li>
            <li><a href="store1.html">門市據點</a></li>
            <li><a href="blog.html">部落格</a></li>
            <li><a href="FAQ.html">常見問題</a></li>
        </ul>
    </div>
</nav>