@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1296px;
}
@media (max-width: 997px) {
  .container {
    max-width: 1016px;
    padding: 0 12px;
  }
}
@media (max-width: 997px) and (max-width: 767px) {
  .container {
    max-width: 791px;
    padding: 0 12px;
  }
}

.d-flex {
  display: flex;
}

.menu {
  background-color: #AA0601;
  padding: 13px 0px;
}
@media (max-width: 767px) {
  .menu {
    padding: 0;
  }
}
.menu .container {
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 767px) {
  .menu .container {
    padding: 0px;
  }
}

@media (max-width: 767px) {
  .logo {
    padding: 16px;
  }
}

.menu h1 {
  width: 80px;
}
.menu h1 a {
  width: 100%;
  display: block;
  background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true) no-repeat;
  background-size: contain;
  text-indent: 150%;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 24px;
}

.menu-item {
  justify-content: space-between;
  width: 41.6%;
}
@media (max-width: 997px) {
  .menu-item {
    width: 75%;
  }
}
@media (max-width: 767px) {
  .menu-item {
    flex-wrap: wrap;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .menu-item li {
    width: 50%;
    border: 1px solid #FFFFFF;
  }
}
.menu-item a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  padding: 12px 0px;
  text-align: center;
  display: block;
}
@media (max-width: 767px) {
  .menu-item a {
    width: 100%;
    font-size: 16px;
    padding: 12px 32px;
  }
}
.menu-item a:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  .menu-item a:hover {
    text-decoration: none;
    background-color: #650300;
  }
}

footer {
  background-color: #AA0601;
  padding-top: 48px;
}
@media (max-width: 767px) {
  footer {
    padding-top: 24px;
  }
}

.footer {
  justify-content: space-between;
}

.footer-list {
  width: 35.8%;
}
@media (max-width: 997px) {
  .footer-list {
    width: 66.6%;
  }
}

.footer-menu {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.footer-menu a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  padding: 16px 0px;
}
.footer-menu a:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  .footer-menu {
    display: none;
  }
}

.social-media {
  justify-content: space-between;
}
@media (max-width: 767px) {
  .social-media {
    width: 30%;
  }
}
.social-media a {
  display: block;
  margin-left: 32px;
}
@media (max-width: 997px) {
  .social-media a {
    margin-left: 16px;
  }
}
@media (max-width: 997px) and (max-width: 767px) {
  .social-media a {
    margin-left: 8px;
  }
}
.social-media img {
  width: 48px;
}

.footer-info {
  margin-bottom: 28px;
}
@media (max-width: 767px) {
  .footer-info {
    margin-bottom: 24px;
  }
}

.footer-info li {
  margin-bottom: 8px;
}

.footer-info a {
  font-size: 36px;
  text-decoration: none;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .footer-info a {
    font-size: 16px;
  }
}
.footer-info a span {
  margin-right: 8px;
  font-size: 36px;
}
@media (max-width: 997px) {
  .footer-info a span {
    font-size: 36px;
  }
}
@media (max-width: 997px) and (max-width: 767px) {
  .footer-info a span {
    font-size: 16px;
  }
}

.footer-info a:hover {
  text-decoration: underline;
}

.footer-copyright {
  justify-content: space-between;
  padding: 32px 0px;
  color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
}
@media (max-width: 767px) {
  .footer-copyright {
    flex-direction: column;
    padding: 16px 0px;
  }
}
@media (max-width: 767px) {
  .footer-copyright p {
    margin-bottom: 8px;
  }
}

.terms {
  justify-content: space-between;
  font-size: 14px;
}
@media (max-width: 767px) {
  .terms {
    flex-direction: column;
    font-size: 16px;
  }
}
.terms li {
  margin-left: 48px;
}
@media (max-width: 767px) {
  .terms li {
    margin-left: 0;
    margin-bottom: 8px;
  }
}
.terms a {
  text-decoration: none;
  color: #FFFFFF;
}
.terms a:hover {
  text-decoration: underline;
}

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

h2 {
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  h2 {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

header {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
  background-size: cover;
  text-align: right;
}
@media (max-width: 997px) {
  header {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);
  }
}

.header-text {
  color: #650300;
  text-align: right;
  padding: 296px 0px;
}
.header-text p {
  font-size: 36px;
}
@media (max-width: 767px) {
  .header-text p {
    font-size: 16px;
  }
}
.header-text h2 {
  font-size: 64px;
  text-align: right;
}
@media (max-width: 767px) {
  .header-text h2 {
    font-size: 24px;
    margin-bottom: 8px;
  }
}
.header-text a {
  text-decoration: none;
  color: #ffffff;
  background-color: #AA0601;
  padding: 6px 12px;
  margin-top: 4px;
}
@media (max-width: 767px) {
  .header-text a {
    font-size: 20px;
    margin-top: 8px;
  }
}
.header-text a:hover {
  background-color: #650300;
}

.service {
  background-color: #FBF2F2;
  padding: 80px 0px;
}
@media (max-width: 997px) {
  .service {
    padding-bottom: 56px;
  }
}
@media (max-width: 767px) {
  .service {
    padding: 40px 0px 16px 0px;
  }
}
.service h2 {
  color: #650300;
}

.service-item {
  justify-content: space-between;
  flex-wrap: wrap;
}
.service-item li {
  width: 23%;
  text-align: center;
}
@media (max-width: 997px) {
  .service-item li {
    width: 48%;
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .service-item li {
    width: 100%;
  }
}
.service-item .service-img {
  justify-content: center;
  align-content: center;
  margin-bottom: 24px;
}
.service-item .service-img img {
  width: 84px;
}
.service-item h3 {
  font-size: 24px;
  color: #650300;
  margin-bottom: 8px;
}
.service-item p {
  text-align: left;
}

.classic {
  padding: 80px 0px;
}
@media (max-width: 767px) {
  .classic {
    padding: 40px 0px 16px 0px;
  }
}
.classic h2 {
  color: #650300;
}

.classic-item {
  justify-content: space-between;
}
@media (max-width: 997px) {
  .classic-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.classic-item li {
  width: 32%;
  margin-bottom: 24px;
}
@media (max-width: 997px) {
  .classic-item li {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .classic-item li {
    width: 100%;
  }
}
.classic-item img {
  width: 100%;
  margin-bottom: 8px;
}
.classic-item h3 {
  font-size: 48px;
  color: #AA0601;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}

.co-branding {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
  background-size: cover;
  padding: 80px 0px;
}
@media (max-width: 997px) {
  .co-branding {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true);
    padding-bottom: 56px;
  }
}
@media (max-width: 767px) {
  .co-branding {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true);
    padding: 40px 0px 16px 0px;
  }
}
.co-branding h2 {
  color: #ffffff;
  margin-bottom: 48px;
}

.co-branding-item {
  justify-content: center;
}
@media (max-width: 997px) {
  .co-branding-item {
    align-items: center;
    flex-direction: column;
  }
}
.co-branding-item li {
  width: 50%;
}
@media (max-width: 997px) {
  .co-branding-item li {
    width: 100%;
    margin-bottom: 24px;
  }
}
.co-branding-item h3 {
  font-size: 48px;
  color: #AA0601;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  background-color: #ffffff;
  padding: 8px 0px;
}

.recommend {
  padding: 80px 0px;
}
@media (max-width: 997px) {
  .recommend {
    padding-bottom: 56px;
  }
}
@media (max-width: 767px) {
  .recommend {
    padding: 40px 0px 24px 0px;
  }
}
.recommend h2 {
  color: #650300;
  margin-bottom: 48px;
}

.recommend-item {
  justify-content: space-between;
  flex-wrap: wrap;
}
.recommend-item li {
  width: 23%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 4px;
  margin-bottom: 24px;
}
@media (max-width: 997px) {
  .recommend-item li {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .recommend-item li {
    width: 100%;
    margin-bottom: 16px;
  }
}

.recommend-item-text {
  padding: 16px;
}
.recommend-item-text h3 {
  margin-bottom: 8px;
}
.recommend-item-text p {
  margin-bottom: 72px;
}
.recommend-item-text span {
  color: #707070;
  font-size: 14px;
}

.contact {
  background-color: #FBF2F2;
  padding: 80px 0px;
}
@media (max-width: 767px) {
  .contact {
    padding: 40px 0px;
  }
}
.contact .contact-text {
  flex-direction: column;
  align-items: center;
}
.contact h2 {
  color: #650300;
  margin-bottom: 48px;
}
.contact p {
  font-size: 20px;
  margin-bottom: 24px;
  width: 50%;
}
@media (max-width: 997px) {
  .contact p {
    font-size: 16px;
    width: 80%;
  }
}
@media (max-width: 767px) {
  .contact p {
    width: 100%;
  }
}

.contact form {
  width: 50%;
}
@media (max-width: 997px) {
  .contact form {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .contact form {
    width: 100%;
  }
}
.contact form label {
  margin-bottom: 8px;
  display: block;
}
.contact form .form-input {
  width: 100%;
  padding: 9px 12px;
  margin-bottom: 16px;
  background-color: #FBF2F2;
  border: 1px solid #000000;
}
.contact form .form-check {
  font-size: 16px;
  background-color: #FBF2F2;
}
.contact form textarea {
  width: 100%;
  padding: 6px 12px;
  height: 136px;
  margin-bottom: 16px;
  font-size: 16px;
  background-color: #FBF2F2;
  border: 1px solid #000000;
}
.contact form .check {
  align-items: center;
}
@media (max-width: 767px) {
  .contact form .check {
    align-items: start;
  }
}
.contact form .check label {
  margin-bottom: 0;
}

.btn {
  justify-content: center;
  margin-top: 48px;
}
@media (max-width: 767px) {
  .btn {
    margin-top: 24px;
  }
}
.btn button {
  color: #ffffff;
  background-color: #AA0601;
  width: 33%;
  padding: 16px 0px;
  border: 0px;
}
@media (max-width: 997px) {
  .btn button {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .btn button {
    width: 100%;
  }
}
.btn button:hover {
  background-color: #650300;
}

::-moz-placeholder {
  color: #000000;
  opacity: 20%;
}

::placeholder {
  color: #000000;
  opacity: 20%;
}

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

.style-menu {
  border-bottom: 1px solid #DCDCDC;
}

@media (max-width: 997px) {
  .style-menu .container {
    max-width: 961px;
    padding: 0px;
  }
}

.style-menu-list li {
  width: 33.3%;
}
.style-menu-list li a {
  display: block;
  font-size: 32px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  border: 1px solid #DCDCDC;
  border-bottom: 8px solid #FFFFFF;
  padding: 24px 0px 16px 0px;
}
@media (max-width: 767px) {
  .style-menu-list li a {
    font-size: 16px;
    padding: 16px 0px 12px 0px;
  }
}
.style-menu-list li a:hover {
  border-bottom: 8px solid #AA0601;
}
.style-menu-list li .active {
  border-bottom: 8px solid #AA0601;
}

.banner-left-image {
  width: 50%;
  height: 296px;
  background-size: cover;
  background-position: center;
}
@media (max-width: 767px) {
  .banner-left-image {
    height: 136px;
  }
}

.banner-right-image {
  width: 50%;
  height: 296px;
  background-size: cover;
}
@media (max-width: 767px) {
  .banner-right-image {
    height: 136px;
  }
}

.optical-image1 {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-1.png?raw=true);
}
@media (max-width: 997px) {
  .optical-image1 {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-1.png?raw=true);
  }
}

.optical-image2 {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-2.png?raw=true);
}
@media (max-width: 997px) {
  .optical-image2 {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-2.png?raw=true);
  }
}

.product {
  text-align: center;
  padding: 80px 0px;
}
@media (max-width: 767px) {
  .product {
    padding: 40px 0px 64px 0px;
  }
}
.product h2 {
  font-size: 42px;
}
@media (max-width: 767px) {
  .product h2 {
    font-size: 24px;
  }
}
.product h3 {
  font-size: 32px;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .product h3 {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.optical-product-list {
  justify-content: space-between;
  flex-wrap: wrap;
}

.optical-product-list li {
  width: 24%;
  margin-bottom: 80px;
}
@media (max-width: 997px) {
  .optical-product-list li {
    width: 48%;
    margin-bottom: 40px;
  }
}
@media (max-width: 997px) and (max-width: 767px) {
  .optical-product-list li {
    width: 100%;
    margin-bottom: 24px;
  }
}

.product-content {
  justify-content: space-between;
  font-size: 24px;
}
.product-content span {
  color: #AA0601;
}

.deco-box-brown {
  width: 24px;
  height: 24px;
  background-color: #5F3E2D;
  border-radius: 4px;
  margin-right: 8px;
}

.deco-box-orange {
  width: 24px;
  height: 24px;
  background-color: #B75929;
  border-radius: 4px;
}

.page {
  justify-content: center;
}
@media (max-width: 997px) {
  .page {
    margin-top: 40px;
  }
}

.page-menu a {
  font-size: 18px;
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: #555555;
  border: 1px solid #555555;
}
@media (max-width: 767px) {
  .page-menu a {
    font-size: 16px;
    padding: 12px 14px;
  }
}
.page-menu a:hover {
  color: #FFFFFF;
  background-color: #000000;
}
.page-menu .active {
  color: #FFFFFF;
  background-color: #000000;
}
.page-menu .next, .page-menu .last {
  font-size: 18px;
  padding: 12px;
}
@media (max-width: 767px) {
  .page-menu .next, .page-menu .last {
    font-size: 16px;
    padding: 12px 13px;
  }
}
.page-menu .next {
  background-color: #F2F2F2;
}

.sunglasses-image1 {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-3.png?raw=true);
}
@media (max-width: 997px) {
  .sunglasses-image1 {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-3.png?raw=true);
  }
}

.sunglasses-image2 {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-4.png?raw=true);
}
@media (max-width: 997px) {
  .sunglasses-image2 {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-4.png?raw=true);
  }
}

.sunglasses-product-list {
  justify-content: space-between;
  flex-wrap: wrap;
}

.sunglasses-product-list li {
  width: 32%;
  margin-bottom: 80px;
}
@media (max-width: 997px) {
  .sunglasses-product-list li {
    width: 48%;
    margin-bottom: 40px;
  }
}
@media (max-width: 997px) and (max-width: 767px) {
  .sunglasses-product-list li {
    width: 100%;
    margin-bottom: 24px;
  }
}

.store {
  padding: 96px 0px 32px 0px;
}
@media (max-width: 997px) {
  .store {
    padding: 80px 0px 56px 0px;
  }
}
@media (max-width: 767px) {
  .store {
    padding-top: 40px;
  }
}

.store-header h2 {
  font-size: 48px;
  font-weight: bold;
  border-left: 8px solid #9F1213;
  padding-left: 16px;
  margin-bottom: 32px;
  text-align: left;
}
@media (max-width: 767px) {
  .store-header h2 {
    font-size: 24px;
    margin-bottom: 24px;
  }
}
.store-header .form-select {
  align-items: center;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .store-header .form-select {
    margin-bottom: 24px;
  }
}
.store-header label {
  font-size: 24px;
  margin-right: 16px;
}
@media (max-width: 767px) {
  .store-header label {
    font-size: 16px;
    margin-right: 8px;
  }
}
.store-header select {
  width: 25%;
  padding: 6px 12px;
  border: 1px solid #CED4DA;
  color: #495057;
}
@media (max-width: 767px) {
  .store-header select {
    width: 78%;
  }
}

.store-list {
  flex-wrap: wrap;
  margin: 0 -12px;
}
.store-list .detail-btn {
  color: #FFFFFF;
  background: #000000;
  text-decoration: none;
  width: 100%;
  display: block;
  text-align: center;
  padding: 16px 0px;
  font-size: 19px;
}

.store-list-item {
  width: 416px;
  margin-bottom: 48px;
  margin: 0 12px 48px 12px;
}
@media (max-width: 997px) {
  .store-list-item {
    width: 47%;
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .store-list-item {
    width: 100%;
  }
}
.store-list-item h3 {
  color: #212529;
  padding: 8px 24px;
  font-size: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1254901961);
}

.store-list-text {
  padding: 16px 24px;
  color: #212529;
  border: 1px solid rgba(0, 0, 0, 0.1254901961);
}
.store-list-text li {
  margin-bottom: 8px;
  align-items: center;
}
.store-list-text a {
  font-size: 20px;
  text-decoration: none;
  color: #000000;
  margin-left: 8px;
}

.store-detail {
  justify-content: space-between;
}
@media (max-width: 997px) {
  .store-detail {
    flex-direction: column;
  }
}
.store-detail .store-detail-item {
  width: 41%;
}
@media (max-width: 997px) {
  .store-detail .store-detail-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .store-detail .store-detail-item {
    flex-direction: column;
  }
}
@media (max-width: 997px) {
  .store-detail img {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .store-detail img {
    width: 100%;
  }
}

@media (max-width: 997px) {
  .store-detail-text {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .store-detail-text {
    width: 100%;
  }
}
.store-detail-text h3 {
  color: #212529;
  padding: 8px 24px;
  font-size: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1254901961);
}
.store-detail-text ul {
  padding: 16px 24px;
  border: 1px solid rgba(0, 0, 0, 0.1254901961);
}
.store-detail-text li {
  color: #212529;
  margin-bottom: 8px;
  align-items: center;
}
.store-detail-text a {
  font-size: 20px;
  text-decoration: none;
  color: #000000;
  margin-left: 8px;
}

.map {
  width: 57%;
}
@media (max-width: 997px) {
  .map {
    width: 100%;
    margin-bottom: 24px;
  }
}
.map img {
  width: 100%;
}

.blog-menu {
  background-color: #650300;
  padding: 13px 0px;
}
@media (max-width: 767px) {
  .blog-menu {
    display: none;
  }
}
.blog-menu .container {
  justify-content: space-between;
  align-items: center;
}
.blog-menu a {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
}
.blog-menu a span {
  width: 30px;
}

.blog-menu-item {
  width: 40%;
  justify-content: space-between;
}
@media (max-width: 997px) {
  .blog-menu-item {
    width: 68%;
  }
}
.blog-menu-item a {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.blog {
  padding: 96px 0px 80px 0px;
}
@media (max-width: 997px) {
  .blog {
    padding-top: 80px;
  }
}
@media (max-width: 767px) {
  .blog {
    padding: 40px 0px 64px 0px;
  }
}
.blog h2 {
  font-size: 48px;
  font-weight: bold;
  border-left: 8px solid #9F1213;
  padding-left: 16px;
  margin-bottom: 32px;
  text-align: left;
}
@media (max-width: 997px) {
  .blog h2 {
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .blog h2 {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.blog-item {
  margin-bottom: 64px;
}
@media (max-width: 997px) {
  .blog-item {
    margin-bottom: 56px;
  }
}
@media (max-width: 767px) {
  .blog-item {
    margin-bottom: 40px;
  }
}
.blog-item li {
  justify-content: space-between;
  margin-bottom: 60px;
}
@media (max-width: 997px) {
  .blog-item li {
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .blog-item li {
    flex-direction: column;
  }
}
.blog-item .blog-img {
  width: 48%;
}
@media (max-width: 767px) {
  .blog-item .blog-img {
    width: 100%;
    margin-bottom: 8px;
  }
}

.blog-content {
  width: 48%;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .blog-content {
    width: 100%;
  }
}
.blog-content h3 {
  font-size: 32px;
  color: #650300;
}
@media (max-width: 997px) {
  .blog-content h3 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .blog-content h3 {
    width: 100%;
  }
}
.blog-content .subtitle {
  justify-content: space-between;
  margin-bottom: 16px;
}
@media (max-width: 997px) {
  .blog-content .subtitle {
    margin-bottom: 4px;
  }
}
.blog-content .eng-title {
  color: #000000;
  font-weight: bold;
}
.blog-content .date {
  color: #000000;
  opacity: 0.7;
}
.blog-content .content {
  color: #555555;
}
.blog-content .content a {
  text-decoration: none;
  color: #555555;
}
@media (max-width: 767px) {
  .blog-content .content {
    display: none;
  }
}
.blog-content .btn {
  align-self: flex-end;
}
@media (max-width: 997px) {
  .blog-content .btn {
    display: none;
  }
}
.blog-content .btn a {
  color: #650300;
  text-decoration: none;
  font-size: 36px;
  font-weight: bold;
}

.blogPage-menu {
  background-color: #650300;
  padding: 13px 0px;
}
.blogPage-menu .container {
  justify-content: space-between;
  align-items: center;
}
.blogPage-menu a {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
}
@media (max-width: 767px) {
  .blogPage-menu a {
    display: none;
  }
}
.blogPage-menu a span {
  width: 30px;
}

.blogPage-menu-item {
  width: 40%;
  justify-content: space-between;
}
@media (max-width: 997px) {
  .blogPage-menu-item {
    width: 68%;
  }
}
@media (max-width: 767px) {
  .blogPage-menu-item {
    width: 100%;
  }
}
.blogPage-menu-item a {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  font-size: 20px;
}
@media (max-width: 767px) {
  .blogPage-menu-item a {
    font-size: 16px;
  }
}

.blogPage {
  padding: 24px 0px 80px 0px;
}
@media (max-width: 997px) {
  .blogPage {
    padding-top: 8px;
  }
}
@media (max-width: 767px) {
  .blogPage {
    padding: 16px 0px 48px 0px;
  }
}

.header-page, .header-tag {
  margin-bottom: 8px;
}

.header-page a {
  text-decoration: none;
  color: #000000;
}

.header-page a:hover {
  color: #AA0601;
}

.header-page a.active {
  color: #AA0601;
}

.header-tag span {
  color: #AA0601;
  font-weight: bold;
  font-size: 24px;
}

.specialEvent .container {
  justify-content: space-between;
}
.specialEvent h2 {
  text-align: left;
  font-weight: normal;
  margin-bottom: 0;
}
.specialEvent p {
  font-size: 24px;
  margin-bottom: 16px;
}
@media (max-width: 997px) {
  .specialEvent p {
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .specialEvent p {
    margin-bottom: 16px;
  }
}
.specialEvent .content {
  width: 66.6%;
}
@media (max-width: 997px) {
  .specialEvent .content {
    width: 75%;
  }
}
@media (max-width: 767px) {
  .specialEvent .content {
    width: 100%;
  }
}
.specialEvent .content li {
  margin-bottom: 40px;
}
@media (max-width: 997px) {
  .specialEvent .content li {
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .specialEvent .content li {
    margin-bottom: 16px;
  }
}
.specialEvent .content img {
  margin-bottom: 8px;
}
@media (max-width: 997px) {
  .specialEvent .content img {
    margin-bottom: 16px;
  }
}
@media (max-width: 767px) {
  .specialEvent .content img {
    margin-bottom: 8px;
  }
}
.specialEvent .content p {
  color: #555555;
  font-size: 16px;
}
.specialEvent .tag {
  color: #AA0601;
  font-weight: bold;
  width: 31%;
}
@media (max-width: 997px) {
  .specialEvent .tag {
    width: 23%;
  }
}
@media (max-width: 767px) {
  .specialEvent .tag {
    display: none;
  }
}
.specialEvent .tag .title {
  align-items: center;
  font-weight: bold;
}
.specialEvent .tag .title span {
  font-size: 38px;
}
@media (max-width: 997px) {
  .specialEvent .tag .title span {
    font-size: 19px;
  }
}
.specialEvent .tag span {
  font-size: 24px;
}
@media (max-width: 997px) {
  .specialEvent .tag span {
    font-size: 16px;
  }
}
.specialEvent .tag h3 {
  font-size: 32px;
}
@media (max-width: 997px) {
  .specialEvent .tag h3 {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .specialEvent-footer {
    display: none;
  }
}
.specialEvent-footer .share {
  width: 66.6%;
  align-items: center;
  margin-bottom: 16px;
}
@media (max-width: 997px) {
  .specialEvent-footer .share {
    width: 100%;
    margin-top: 16px;
  }
}
.specialEvent-footer .share p {
  font-weight: bold;
  margin-right: 16px;
}
.specialEvent-footer .share a {
  margin-right: 16px;
}
.specialEvent-footer .share .social-icon {
  width: 24px;
  margin-bottom: 0;
}
.specialEvent-footer .content-page {
  width: 66.6%;
  justify-content: space-between;
  border-top: 1px solid #707070;
  padding-top: 16px;
}
@media (max-width: 997px) {
  .specialEvent-footer .content-page {
    width: 100%;
  }
}

.faq {
  padding: 96px 0px 48px 0px;
}
@media (max-width: 767px) {
  .faq {
    padding: 40px 0px;
  }
}
.faq h2 {
  font-size: 48px;
  font-weight: bold;
  border-left: 8px solid #9F1213;
  padding-left: 16px;
  margin-bottom: 32px;
  text-align: left;
}
@media (max-width: 767px) {
  .faq h2 {
    font-size: 24px;
    margin-bottom: 24px;
  }
}
.faq p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.faq-content h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}
.faq-content p {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .faq-content p {
    margin-bottom: 24px;
  }
}/*# sourceMappingURL=all.css.map */