.container{
    margin: 0 auto;
	padding: 0 12px;
	max-width: 1320px;
    @include pad(){
        max-width: 1016px;
        @include mobile(){
            max-width: 791px;
        }
    }
}
.d-flex{
    display: flex;
}
body{
    font-family: 'Roboto','Noto Sans TC', sans-serif;
    line-height: 1.5;
}
h2{
    font-size: $font-size-h2;
    font-weight: bold;
    // margin-bottom: 32px;
    @include mobile(){
        font-size: $font-size-h4;
        // margin-bottom: 24px;
    }
}