.menu{
    background-color: $primary;
    .container{
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        @include mobile(){
            padding: 0px;
        }
    }
}
.menu h1{
    width:80px;
    a{  
        width: 100%;
        display: block;
        background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true) no-repeat;
        background-size: contain;
        text-indent: 150%;
        overflow: hidden;
        white-space: nowrap;
    }
}
.menu-item{
    justify-content: space-between;
    width: 41.6%;
    @include pad(){
        width: 75%;
    }
    @include mobile(){
        flex-wrap: wrap;
        width: 100%;
    }
    li{   
        @include mobile(){
            width: 50%;
            border: 1px solid $light;
        }
    }
    a{
        color: $light;
        font-size: $font-size-h5;
        text-align: center;
        display: block;
        @include mobile(){
            width: 100%;
            font-size: $font-size-base;
        }
    }
    a:hover{
        text-decoration: underline;
        @include mobile(){
            background-color: $primary-dark;
        }
    }
}
footer{
    background-color: $primary;

}
.footer{
    justify-content: space-between;
}
.footer-list{
    width: 35.8%;
    @include pad(){
        width: 66.6%;
    }
}
.footer-menu{
    justify-content: space-between;
    align-items: center;
    a{
        color: $light;
        display: block;
    }
    a:hover{
        text-decoration: underline;
    }
    @include mobile(){
        display: none;
    }
}
.social-media {
    justify-content: space-between;
    @include mobile(){
        width: 25%;
    }
    a{
        display: block;
    }
    img{
        width: 48px;
        @include mobile(){
            width: 24px;
        }
    }
}
.footer-info li{
    align-items: center;
    span{
        font-size: $font-size-h3;
        color: $light;
        @include mobile(){
            font-size: $font-size-base;
        }
    }
 }

.footer-info a{
    font-size: $font-size-h3;
    color: $light;
    @include mobile(){
        font-size: $font-size-base;
    }
}
.footer-info a:hover{
    text-decoration: underline;
}
.footer-copyright{
    justify-content: space-between;
    color: $light;
    border-top: 1px solid $light;
    @include mobile(){
        flex-direction: column;
    }
}
.terms{
    justify-content: space-between;
    font-size: $font-size-small;
    @include mobile(){
        flex-direction: column;
        font-size: $font-size-base;
    }
    a{
        color: $light;
    }
    a:hover{
        text-decoration: underline;
    }
}