$primary: #AA0601;
$primary-light: #FBF2F2;
$primary-dark: #650300;
$gray:#DCDCDC;
$light-gray:#F2F2F2;
$dark-gray:#555555;
$light: #ffffff;
$dark: #000000;
$font-size-base:1rem;
$font-size-h1: $font-size-base*4;
$font-size-h2: $font-size-base*3;
$font-size-h3: $font-size-base*2;
$font-size-h4: $font-size-base*1.5;
$font-size-h5: $font-size-base*1.25;