.faq{
    padding: 96px 0px 48px 0px;
    @include pad(){
        padding-top: 80px;
    }
    @include mobile(){
        padding: 40px 0px;
    }
    h2{
        font-size: $font-size-h2;
        font-weight: bold;
        border-left: 8px solid #9F1213;
        padding-left: 16px;
        @include mobile(){
            font-size:$font-size-h4;
        }
    }
    p{
        font-size: $font-size-h4;
        font-weight: bold;
    }
}
.faq-content{
    h3{
        font-size: $font-size-h5;
        font-weight: bold;
    }
    p{
        font-size: $font-size-base;
        font-weight: normal;
    }
}