header{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
    background-size: cover;
    text-align: right;
    @include pad(){
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);
    }
}
h2{
    font-size: $font-size-h2;
    font-weight: bold;
    @include mobile(){
        font-size: $font-size-h4;
    }
}
.header-text{
    color:$primary-dark;
    text-align: right;
    p{
        font-size: $font-size-h3;
        @include mobile(){
            font-size: $font-size-base;
        }
    }
    h2{
        font-size: $font-size-h1;
        text-align: right;
        @include mobile(){
            font-size: $font-size-h4;
        }
    }
    a{
        text-decoration: none;
        color: $light;
        background-color: $primary;
        padding: 6px 12px;
        @include mobile(){
            font-size: $font-size-h5;
        }
        &:hover{
            background-color: $primary-dark;
        }
    }
}
.service{
    background-color: $primary-light;
    h2{
        color:$primary-dark;
        text-align: center;
    }
}
.service-item{
    justify-content: space-between;  
    flex-wrap: wrap;  
    li{
        width: 23%;
        text-align: center;
        @include pad(){
            width: 48%;
        }
        @include mobile(){
            width: 100%;
        }
    }
    .service-img{
            justify-content: center;
            align-content: center;
            img{
                width: 84px;
            }
    }
    h3{
        font-size: $font-size-h5;
        color:$primary-dark;
        font-weight: bold;
    }
    p{
        text-align: left;
    }
}
.classic{
    h2{
        color:$primary-dark;
        text-align: center;
    }
}
.classic-item{
    justify-content: space-between;    
    @include pad(){
        flex-direction: column;
        justify-content: center;  
        align-items: center;  
    }
    li{
        width: 32%;
        @include pad(){
            width: 50%;
        }
        @include mobile(){
            width: 100%;
        }
    }
    img{
        width: 100%;
    }
    h3{
        font-size: $font-size-h2;
        color: $primary;
        font-weight: bold;
        text-align: center;
        font-style: italic;
    }
}
.co-branding{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
    background-size: cover;
    @include pad(){
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true);
    }
    @include mobile(){
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true);
    }
    h2{
        color: $light;
        text-align: center;
    }
}
.co-branding-item{
    justify-content: center;
    @include pad(){
        align-items: center;
        flex-direction: column;
    }
    li{
        width: 50%;
        @include pad(){
            width: 100%;
        }
    }
    h3{
        font-size: $font-size-h2;
        color:$primary;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        background-color: $light;
    }
}
.recommend{
    h2{
        color: $primary-dark;
        text-align: center;
    }
}
.recommend-item{
    justify-content: space-between; 
    flex-wrap: wrap;   
    li{
        width: 23%;
        box-shadow: 0px 2px 6px #00000029;
        border-radius: 4px;
        flex-direction: column;
        @include pad(){
            width: 48%;
        }
        @include mobile(){
            width: 100%;
        }
    }
}
.recommend-item-body{
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}
.recommend-item-text{
    span{
        color: #707070;
        font-size: $font-size-small;
    }
}
.contact{
    background-color: $primary-light;
    .contact-text{
        flex-direction: column;
        align-items: center;
    }
    h2{
        color: $primary-dark;
        text-align: center;
    }
    p{
        font-size: $font-size-h5;
        width: 50%;
        @include pad(){
            font-size: $font-size-base;
            width: 80%;        
        }
        @include mobile(){
            width: 100%;
        }
    }
}
.contact form{
    width: 50%;
    @include pad(){
        width: 80%;
    }
    @include mobile(){
        width: 100%;
    }
    label{
        display: block;
    }
    .form-input{
        width: 100%;
        padding: 9px 12px;
        background-color: $primary-light;
        border: 1px solid $dark;
    }
    .form-check{
        font-size: $font-size-base;
        background-color: $primary-light;
    }
    textarea{
        width: 100%;
        padding: 6px 12px;
        height: 136px;
        font-size: $font-size-base;
        background-color: $primary-light;
        border: 1px solid $dark;
    }
    .check{
        align-items: center;
        @include mobile(){
            align-items: start;
        }
    }
}
.btn{
    justify-content: center;
    button{
        color: #ffffff;
        background-color: $primary;
        width: 33%;
        border: 0px;
        @include pad(){
            width: 50%;
        }
        @include mobile(){
            width: 100%;
        }
    }
    button:hover{
        background-color:$primary-dark;
    }
}
::placeholder { 
    color: $dark;
    opacity: 20%;
}