.style-menu{
    border-bottom: 1px solid $gray;
}
.style-menu .container{
        @include pad(){
            max-width: 961px;
            padding: 0px;
        }
    }
.style-menu-list li{
    width: 33.3%;
    a{  
        display: block;
        font-size: 32px;
        color:$dark;
        text-decoration: none;
        text-align: center;
        border: 1px solid $gray;
        border-bottom: 8px solid $light;
        padding: 24px 0px 16px 0px;
        @include mobile(){
            font-size: $font-size-base;
            padding: 16px 0px 12px 0px;
        }
        &:hover{
            border-bottom: 8px solid $primary;
        }
    }
    .active{
        border-bottom: 8px solid $primary;
    }
}
.banner-left-image{
    width: 50%;
    height: 296px;
    background-size: cover;
    background-position: center;
        @include mobile(){
            height: 136px;
    }
}
.banner-right-image{
    width: 50%;
    height: 296px;
    background-size: cover;
        @include mobile(){
            height: 136px;
    }
}
.optical-image1{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-1.png?raw=true);
    @include pad(){
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-1.png?raw=true);
    }
}
.optical-image2{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-2.png?raw=true);
    @include pad(){
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-2.png?raw=true);
    }
}
.product{
    text-align: center;
    padding: 80px 0px;
    @include mobile{
        padding: 40px 0px 64px 0px
    }
    h2{
    font-size: 42px;
        @include mobile{
            font-size: $font-size-h4;
        }
    }
    h3{
        font-size: 32px;
        @include mobile{
            font-size: $font-size-h4;
        }
    }
}
.optical-product-list{
    justify-content: space-between;
    flex-wrap: wrap;
}
.optical-product-list li{
    width: 24%;
    @include pad(){
        width: 48%;
        @include mobile(){
            width: 100%;
        }
    }
}
.product-content{
    justify-content: space-between;
    font-size: $font-size-h4;
    span{
        color: $primary;
    }
}
.deco-box-brown{
        width: 24px;
        height: 24px;
        background-color: #5F3E2D;
        border-radius: 4px;
        margin-right: 8px;
}
.deco-box-orange{
        width: 24px;
        height: 24px;
        background-color: #B75929;
        border-radius: 4px;
}
.pagination{
    justify-content: center;
}
.pagination-menu{
    a{
        font-size: 18px;
        display: block;
        padding: 12px 16px;
        text-decoration: none;
        color: $dark-gray;
        border: 1px solid $dark-gray;
        @include mobile(){
            font-size: $font-size-base;
            padding: 12px 14px;
        }
    }
    a:hover{
        color: $light;
        background-color: $dark;
    }
    .active{
        color: $light;
        background-color: $dark;
    }
    .next,.last{
        font-size: 18px;
        padding:12px;
        @include mobile(){
            font-size: $font-size-base;
            padding:12px 13px;
        }
    }
    .next{
        background-color: $light-gray;
    }
}
