.blogPage-menu{
    background-color: #650300;
    padding: 13px 0px;
    .container{
        justify-content: space-between;
        align-items: center;
    }
    a{
        color: #FFFFFF;
        text-decoration: none;
        display: block;
        @include mobile(){
            display: none;
        }
        span{
            width: 30px;
        }
    }
}
.blogPage-menu-item {
    width: 40%;
    justify-content: space-between;
    @include pad(){
        width: 68%;
    }
    @include mobile(){
        width: 100%;
    }
    a{
        color: #FFFFFF;
        text-decoration: none;
        display: block;
        font-size: 20px;
        @include mobile(){
            font-size: 16px;
        }
    }
}
.blogPage{
    padding: 24px 0px 80px 0px;
    @include pad(){
        padding-top: 8px;
    }
    @include mobile(){
        padding: 16px 0px 48px 0px;
    }
}
.header-page,.header-tag{
    margin-bottom: 8px;
}
.header-page a{
    text-decoration: none;
    color: #000000;
}
.header-page a:hover{
    color: #AA0601;
}
.header-page a.active{
    color: #AA0601;
}
.header-tag span{
    color: #AA0601;
    font-weight: bold;
    font-size: 24px;
}
.specialEvent{
    .container{
        justify-content: space-between;
    }
    h2{
        text-align: left;
        font-weight: normal;
        margin-bottom: 0;
    }
    p{
        font-size: 24px;
        margin-bottom: 16px;
        @include pad(){
            margin-bottom: 24px;
        }
        @include mobile(){
            margin-bottom: 16px;
        }
    }
    .content{
        width: 66.6%;
        @include pad(){
            width: 75%;
        }
        @include mobile(){
            width: 100%;
        }
        li{
            margin-bottom: 40px;
            @include pad(){
                margin-bottom: 24px;
            }
            @include mobile(){
                margin-bottom: 16px;
            }
        }
        img{
            margin-bottom: 8px;
            @include pad(){
                margin-bottom: 16px;
            }
            @include mobile(){
                margin-bottom: 8px;
            }
        }
        p{
            color: #555555;
            font-size: 16px;
        }
    }
    .tag{
        color:  #AA0601;
        font-weight: bold;
        width: 31%;
        @include pad(){
            width: 23%;
        }
        @include mobile(){
            display: none;
        }
        .title{
            align-items: center;
            font-weight: bold;
            span{
            font-size: 38px;
                @include pad(){
                    font-size: 19px;
                }
            }
        }
        span{
            font-size: 24px;
            @include pad(){
                font-size: 16px;
            }
        }
        h3{
            font-size: 32px;
            @include pad(){
                font-size: 16px;
            }
        }
    }
}
.specialEvent-footer{
    @include mobile(){
        display: none;
    }
    .share{
        width: 66.6%;
        align-items: center;
        margin-bottom: 16px;
        @include pad(){
            width: 100%;
            margin-top: 16px;
        }
        p{
            font-weight: bold;
            margin-right:16px;
        }
        a{
            margin-right:16px;
        }
        .social-icon{
            width: 24px;
            margin-bottom: 0;
        }
    }
    .footer-page{
        width: 66.6%;
        justify-content: space-between;
        border-top: 1px solid #707070;
        padding-top: 16px;
        @include pad(){
            width: 100%;
        }
        .last,.next{
            align-items: center;
        }
        a{
            text-decoration: none;
            color: #000;
        }
    }
}