.store-header{
    h2{
        font-size: $font-size-h2;
        border-left: 8px solid #9F1213;
        @include mobile(){
            font-size: $font-size-h4;
        }
    }
    .form-select{
        align-items: center;
    }
    label{
        font-size: $font-size-h4;
        @include mobile(){
            font-size: $font-size-base;
        }
    }
    select{
        width: 25%;
        padding: 6px 12px;
        border: 1px solid #CED4DA;
        color: #495057;
        @include mobile(){
            width: 78%;
        }
    }
}
.store-list{
    flex-wrap: wrap;
    margin: 0 -12px;
    .detail-btn{
        color: $light;
        background: $dark;
        text-decoration: none;
        width: 100%;
        display: block;
        text-align: center;
        font-size: 19px;
    }
}
.store-list-item{
    width: 416px;
    margin-left: 12px;
    margin-right: 12px;
    @include pad(){
        width: 47%;
    }
    @include mobile(){
        width: 100%;
    }
    h3{
        color:#212529;
        font-size: $font-size-h4;
        border: 1px solid #00000020;
    }
}
.store-list-text{
    color:#212529;
    border: 1px solid #00000020;
    a{
        font-size: $font-size-h5;
        text-decoration: none;
        color: $dark;
        margin-left: 8px;
    }
}