.store{
    padding: 96px 0px 32px 0px;
    @include pad(){
        padding: 80px 0px 56px 0px;
    }
    @include mobile(){
       padding-top: 40px;
    }
}
.store-header{
    h2{
        font-size: $font-size-h2;
        border-left: 8px solid #9F1213;
        padding-left: 16px;
        @include mobile(){
            font-size: $font-size-h4;
        }
    }
    .form-select{
        align-items: center;
    }
    label{
        font-size: $font-size-h4;
        margin-right: 16px;
        @include mobile(){
            font-size: $font-size-base;
            margin-right: 8px;
        }
    }
    select{
        width: 25%;
        padding: 6px 12px;
        border: 1px solid #CED4DA;
        color: #495057;
        @include mobile(){
            width: 78%;
        }
    }
}
.store-list{
    flex-wrap: wrap;
    margin: 0 -12px;
    .detail-btn{
        color: $light;
        background: $dark;
        text-decoration: none;
        width: 100%;
        display: block;
        text-align: center;
        padding: 16px 0px;
        font-size: 19px;
    }
}
.store-list-item{
    width: 416px;
    margin-left: 12px;
    margin-right: 12px;
    @include pad(){
        width: 47%;
    }
    @include mobile(){
        width: 100%;
    }
    h3{
        color:#212529;
        padding: 8px 24px;
        font-size: $font-size-h4;
        border: 1px solid #00000020;
    }
}
.store-list-text{
    padding: 16px 24px;
    color:#212529;
    border: 1px solid #00000020;
    li{
        align-items: center;
    }
    a{
        font-size: $font-size-h5;
        text-decoration: none;
        color: $dark;
        margin-left: 8px;
    }
}