.sunglasses-image1{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-3.png?raw=true);
    @include pad(){
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-3.png?raw=true);
    }
}
.sunglasses-image2{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-4.png?raw=true);
    @include pad(){
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-4.png?raw=true);
    }
}
.sunglasses-product-list{
    justify-content: space-between;
    flex-wrap: wrap;
}
.sunglasses-product-list li{
    width: 32%;
    margin-bottom: 80px;
    @include pad(){
        width: 48%;
        margin-bottom: 40px;
        @include mobile(){
            width: 100%;
            margin-bottom: 24px;
        }
    }
}
