<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sunglasses</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet" href="stylesheet/all.css">
</head>
<body>
    <%- include('./layout/header'); -%>
    <main>
        <nav class="style-menu">
            <div class="container">
                <ul class="style-menu-list d-flex">
                    <li><a href="optical.html" class="pt-6 pb-4 pt-md-4 pb-md-3 active">OPTICAL</a></li>
                    <li><a href="sunglasses.html" class="pt-6 pb-4 pt-md-4 pb-md-3">SUNGLASSES</a></li>
                    <li><a href="#" class="pt-6 pb-4 pt-md-4 pb-md-3">FUNCTIONAL</a></li>
                </ul>
            </div>
        </nav>
        <section class="banner d-flex">
            <div class="banner-image sunglasses-left-image"></div>
            <div class="banner-image sunglasses-right-image"></div>
        </section>
        <section class="product py-20 pt-sm-10 pb-sm-16">
            <div class="container">
                <h2>2020 NEW COLLECTION</h2>
                <h3 class="mb-8 mb-sm-6">賽璐珞鈦金屬混合鏡框</h3>
                <ul class="sunglasses-product-list d-flex mb-md-10">
                    <li class="mb-20 mb-md-10 mb-sm-6">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-7.png?raw=true" alt="glasses-img">
                        <div class="product-content d-flex">
                            <p>BJ41600S</p>
                            <span>NTD3,490</span>
                        </div>
                        <div class="sunglasses-product-color d-flex">
                            <div class="deco-box-brown"></div>
                            <div class="deco-box-orange ml-2"></div>
                        </div>
                    </li>
                    <li class="mb-20 mb-md-10 mb-sm-6">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-8.png?raw=true" alt="glasses-img">
                        <div class="product-content d-flex">
                            <p>BJ41600S</p>
                            <span>NTD3,490</span>
                        </div>
                        <div class="sunglasses-product-color d-flex">
                            <div class="deco-box-brown"></div>
                            <div class="deco-box-orange ml-2"></div>
                        </div>
                    </li>
                    <li class="mb-20 mb-md-10 mb-sm-6">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-9.png?raw=true" alt="glasses-img">
                        <div class="product-content d-flex">
                            <p>BJ41600S</p>
                            <span>NTD3,490</span>
                        </div>
                        <div class="sunglasses-product-color d-flex">
                            <div class="deco-box-brown"></div>
                            <div class="deco-box-orange ml-2"></div>
                        </div>
                    </li>
                    <li class="mb-20 mb-md-10 mb-sm-6">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-10.png?raw=true" alt="glasses-img">
                        <div class="product-content d-flex">
                            <p>BJ41600S</p>
                            <span>NTD3,490</span>
                        </div>
                        <div class="sunglasses-product-color d-flex">
                            <div class="deco-box-brown"></div>
                            <div class="deco-box-orange ml-2"></div>
                        </div>
                    </li>
                    <li class="mb-20 mb-md-10 mb-sm-6">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-11.png?raw=true" alt="glasses-img">
                        <div class="product-content d-flex">
                            <p>BJ41600S</p>
                            <span>NTD3,490</span>
                        </div>
                        <div class="sunglasses-product-color d-flex">
                            <div class="deco-box-brown"></div>
                            <div class="deco-box-orange ml-2"></div>
                        </div>
                    </li>
                    <li class="mb-20 mb-md-10 mb-sm-6">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-12.png?raw=true" alt="glasses-img">
                        <div class="product-content d-flex">
                            <p>BJ41600S</p>
                            <span>NTD3,490</span>
                        </div>
                        <div class="sunglasses-product-color d-flex">
                            <div class="deco-box-brown"></div>
                            <div class="deco-box-orange ml-2"></div>
                        </div>
                    </li>
                </ul>
                <div class="pagination d-flex">
                    <ul class="pagination-menu d-flex">
                        <li class="last"><a href="#">上一頁</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#" class="active">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li class="next"><a href="#">下一頁</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
</body>
</html>